.ReactCrop {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 550px;
  cursor: crosshair;
  div{
    height: 100%;
  }
}
  .ReactCrop:focus {
    outline: none; }
  .ReactCrop--disabled, .ReactCrop--locked {
    cursor: inherit; 
  }
  .ReactCrop__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: scale-down;
    touch-action: manipulation; }
  .ReactCrop__crop-selection {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    min-width:100px;
    min-height:100px;
    box-sizing: border-box;
    cursor: move;
    box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);
    touch-action: manipulation;
    border: none;
    border-radius:10px;
  }
  .ReactCrop--disabled .ReactCrop__crop-selection {
    cursor: inherit; }
  .ReactCrop--circular-crop .ReactCrop__crop-selection {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px white, 0 0 0 9999em rgba(0, 0, 0, 0.5); }
  .ReactCrop--invisible-crop .ReactCrop__crop-selection {
    display: block;}
  // .ReactCrop__rule-of-thirds-vt::before, .ReactCrop__rule-of-thirds-vt::after, .ReactCrop__rule-of-thirds-hz::before, .ReactCrop__rule-of-thirds-hz::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background-color: rgba(255, 255, 255, 0.4); }
  // .ReactCrop__rule-of-thirds-vt::before, .ReactCrop__rule-of-thirds-vt::after {
  //   width: 1px;
  //   height: 100%;
  //  }
  // .ReactCrop__rule-of-thirds-vt::before {
  //   left: 33.3333%;
  //   left: calc(100% / 3); }
  // .ReactCrop__rule-of-thirds-vt::after {
  //   left: 66.6666%;
  //   left: calc(100% / 3 * 2); }
  // .ReactCrop__rule-of-thirds-hz::before, .ReactCrop__rule-of-thirds-hz::after {
  //   width: 100%;
  //   height: 1px; }
  // .ReactCrop__rule-of-thirds-hz::before {
  //   top: 33.3333%;
  //   top: calc(100% / 3); }
  // .ReactCrop__rule-of-thirds-hz::after {
  //   top: 66.6666%;
  //   top: calc(100% / 3 * 2); }
  .ReactCrop__drag-handle {
    position: absolute;
    box-sizing: border-box;
  }
    .ReactCrop__drag-handle::after {
      position: absolute;
      z-index: 20;
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      padding: 40px;
      border-radius: 50%;
      background-clip: content-box;
      background-color: white;
      box-sizing: content-box;
      outline: 1px solid transparent; 
    }
  .ReactCrop .ord-nw {
    top: 0;
    left: 0;
    cursor: nw-resize; }
    .ReactCrop .ord-nw::after {
      top: -45px;
      left: -45px;
      border-right:none;
      border-bottom:none;
    }
  .ReactCrop .ord-n {
    cursor: n-resize; }
    .ReactCrop .ord-n::after {
      display:none;
    }
  .ReactCrop .ord-ne {
    top: 0;
    right: 0;
    cursor: ne-resize; }
    .ReactCrop .ord-ne::after {
      top: -45px;
      right: -45px;
      border-left:none;
      border-bottom:none;
    }
  .ReactCrop .ord-e {
    cursor: e-resize; }
    .ReactCrop .ord-e::after {
      display:none;
    }
  .ReactCrop .ord-se {
    bottom: 0;
    right: 0;
    cursor: se-resize; }
    .ReactCrop .ord-se::after {
      bottom: -45px;
      right: -45px;
      border-top:none;
      border-left:none;
    }
  .ReactCrop .ord-s {
    cursor: sw-resize; }
    .ReactCrop .ord-s::after {
      display:none;
     }
  .ReactCrop .ord-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize; }
    .ReactCrop .ord-sw::after {
      bottom: -45px;
      left: -45px;
      border-top:none;
      border-right:none;
    }
  .ReactCrop .ord-w {
    cursor: nw-resize; }
    .ReactCrop .ord-w::after {
      display:none;
    }
  .ReactCrop__disabled .ReactCrop__drag-handle {
    cursor: inherit; }
  .ReactCrop__drag-bar {
    position: absolute;
  }
    .ReactCrop__drag-bar.ord-n {
      border-top: 1px solid white;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: 0px; }
    .ReactCrop__drag-bar.ord-e {
      border-left: 1px solid white;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      margin-right: 0px; }
    .ReactCrop__drag-bar.ord-s {
      border-bottom: 1px solid white;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      margin-bottom: 0px; }
    .ReactCrop__drag-bar.ord-w {
      border-left: 1px solid white;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      margin-left: 0px;
     }
  .ReactCrop--new-crop .ReactCrop__drag-bar,
  .ReactCrop--new-crop .ReactCrop__drag-handle,
  .ReactCrop--fixed-aspect .ReactCrop__drag-bar {
    display: none; }
  .ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-n,
  .ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-e,
  .ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-s,
  .ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-w {
    display: none; }
  @media (pointer: coarse) {
    .ReactCrop .ord-n,
    .ReactCrop .ord-e,
    .ReactCrop .ord-s,
    .ReactCrop .ord-w {
      display: block; }
    .ReactCrop__drag-handle {
      width: 24px;
      height: 24px; } }